a { color:#000000; } 
a:visited { color:#232323; } 
a:active { color:#232323; } 
a:hover { color:#808080; } 
#menu_7998bc42 a { text-decoration: none; }
#menu_7998bc42_pane { background-color: #FFFFFF; border: 1px solid #000000; padding-top: 7px; padding-bottom: 7px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7998bc42_hr { background-color: #000000; height: 1px; border: none; }
#menu_7998bc42_entry { padding-left: 7px; padding-right: 7px; padding-top: 2px; padding-bottom: 2px; }
#menu_7998bc42_entry:hover { background-color: #808080; color: #CECECE !important; }
#menu_7998bc42_entry:hover span { color:#CECECE !important; }
		.menu_7998bc42_mainMenuEntry { text-align: center; }
		#menu_7998bc42 .mobileEntry { display: none; } 
		#menu_7998bc42 .normalEntry { display: block; } 
		#menu_7998bc42_menualignmentwrapper{ width:95px; left: calc(100% - 95px);  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3f52c178 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:466px; max-width:1200px; background-color:#FFFFFF;  }
#container_3f52c178_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:left; }
#container_6e94f1f2 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:103px; background-color:#FFFFFF; border: 4px solid #000000;  }
#container_6e94f1f2_padding { margin: 10px; display: block;  }
#container_2876fa68 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:88px; background:none;  }
#container_2876fa68_padding { margin: 10px; display: block;  }
#container_23bb60 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:61px; background-color:#FFFFFF;  }
#container_23bb60_padding { margin: 3px 10px 3px 10px;display: block;  }
#container_2fb4024c { vertical-align: top; position:relative; display: inline-block; width:71%; min-height:67px; background:none;  }
#container_2fb4024c_padding { margin: 10px; display: block;  }
#button_1136b6c5 { vertical-align: top; position:relative; display: inline-block; width:43px; height:57px; background-color:#0095FF; background-image: url(images/namesv_zoomed.jpg); background-position:center left; background-size:cover;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#menu_7998bc42 { vertical-align: top; position:relative; display: inline-block; width:29%; height:73px; text-align:left; background-color:#FFFFFF;  }
#menu_7998bc42_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:24px; height:73px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle2 { position:absolute; width:95px; height:73px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:30px;  }
.textstyle5 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle7 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle8 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
#container_799a412f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:306px; background-color:#FEFFFE; border: 4px solid #000000;  }
#container_799a412f_padding { margin: 4px 10px 10px 10px;display: block;  }
.textstyle9 { font-size:40pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle10 { font-size:40pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
.textstyle11 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#container_647ebe36 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background:none;  }
#container_647ebe36_padding { margin: 10px; display: block;  }
#container_2ac01e4 { vertical-align: top; border-radius: 22px; position:relative; display: inline-block; width:33%; min-height:40px; background-color:#FFFFFF; background: linear-gradient(to bottom, #7F7F7F, #FFFFFF);  }
#container_2ac01e4_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_7beed78d { vertical-align: top; border-radius: 22px; position:relative; display: inline-block; width:33%; min-height:40px; background-color:#FFFFFF; background: linear-gradient(to bottom, #7F7F7F, #FFFFFF);  }
#container_7beed78d_padding { margin: 10px; display: block;  }
#container_7d779a3a { vertical-align: top; border-radius: 22px; position:relative; display: inline-block; width:33%; min-height:40px; background-color:#FFFFFF; background: linear-gradient(to bottom, #7F7F7F, #FFFFFF);  }
#container_7d779a3a_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_31a55eeb { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:116px; background-color:#FFFFFF; border: 4px solid #000000;  }
#container_31a55eeb_padding { margin: 10px; display: block;  }
#container_626f7872 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:40px; background:none;  }
#container_626f7872_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_1b6febe8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:47px; background:none;  }
#container_1b6febe8_padding { margin: 10px; display: block;  }
#container_3a672ca2 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:43px; background:none; border: 4px solid #000000;  }
#container_3a672ca2_padding { margin: 10px; display: block;  }
#container_41514d99 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:43px; background:none; border: 4px solid #000000;  }
#container_41514d99_padding { margin: 10px; display: block;  }
#container_40dc0d1a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:43px; background:none; border: 4px solid #000000;  }
#container_40dc0d1a_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 750px)
{
		#container_3f52c178 { width:100%;  }
}
@media only screen and (max-width: 650px)
{
		#container_799a412f { width:99%;  }
		#container_626f7872 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_6e94f1f2 * span { font-size:24pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_2ac01e4 { width:100%;  }
		#container_7beed78d { width:100%;  }
		#container_7d779a3a { width:100%;  }
		#container_3a672ca2 { width:100%;  }
		#container_41514d99 { width:100%;  }
		#container_40dc0d1a { width:100%;  }
}
@media only screen and (max-width: 435px)
{
		#container_6e94f1f2 * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_6e94f1f2 * span { font-size:12pt;  }
}
